@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('../fonts/#{$url}.woff2') format('woff2');
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@mixin bg-op($size, $pos, $repeat) {
  background-size: $size;
  background-position: $pos;
  background-repeat: $repeat;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@mixin font-styles($size, $weight, $color: $black-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}